@{
  Layout = "_LayoutHome";
}

@using Bakery.Models;
@model List<Bakery.Models.Treat>;

<div class="welcome">
  <h1>Welcome To Pierre's Bakery</h1>
  <h3>To save a list of your favorite treats, please use the links above to register and log in. Otherwise, you are welcome to enjoy a general list of what Pierre's has to offer!</h3>
</div>
