@{
  Layout = "_Layout";
}

@using System.Security.Claims 
@model Bakery.Models.ApplicationUser

@if (User.Identity.IsAuthenticated)
{
  <h1>Welcome to Peirre's Bakery, @User.Identity.Name!</h1>
  <p>You are currently logged into your account.</p>
  @* @using (Html.BeginForm("LogOff", "Account"))
  {
    <button type="submit" class="btn btn-default">Log Out</button>
  } *@
}
else
{
  
  <button class="btn btn-default">@Html.ActionLink("Register", "Register")</button>
  <button class="btn btn-default">@Html.ActionLink("Log in", "Login")</button>
}