@{
  Layout = "_Layout";
}

@using System.Security.Claims 
@model Bakery.Models.ApplicationUser

@if (User.Identity.IsAuthenticated)
{
  <h1>Welcome to Peirre's Bakery, @User.Identity.Name!</h1>
  <p>You are currently logged into your account.</p>
}
else
{
  <div class="account-form">
    <div class="account-index">
      <h4>Don't have an account yet?</h4>
      <button class="btn btn-default">@Html.ActionLink("Register", "Register")</button>
    </div>
    <div class="account-index">
      <h4>Have an existing account?</h4>
      <button class="btn btn-default">@Html.ActionLink("Log in", "Login")</button>
    </div>
  </div>
}