@{
  Layout = "_Layout";
}

@using Bakery.Models

<h1>All the Tasty Treats available at Pierre's Bakery!</h1>

@if(Model.Count == 0)
{  
  @if(User.Identity.IsAuthenticated)
  {
    <h4>There aren't any treats in the bakery yet! Do you want to add a treat?</h4>
    <button>@Html.ActionLink("Add Treats", "Create", "Treats")</button>
  }
  else
  {
    <h4>Sorry, there are no treats in the bakery at this time.</h4>
    <p>We apologize for any inconvenience!</p>
  }
}
else
{
  <h2>Behold!</h2>
  <ul class="treats-list">
    @foreach(Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Type}", "Details", new { id = treat.TreatId})</li>
    }
  </ul>
    @if(User.Identity.IsAuthenticated)
  {
    <button>@Html.ActionLink("Add More Treats", "Create", "Treats")</button>
  }
}